@import "fancybox";
@import "slick-less";
//@import "select2";
@import "bootstrap";

@light: 300;
@regular: 400;
@500: 500;
@600: 600;
@bold: 700;
@800: 800;
@black: 900;


.b_a() {
  content: '';
  position: absolute;
}
.m_a() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.flex() {
  display: flex;
  display: -webkit-flex;
}
.j-center() {
  justify-content: center;
  -webkit-justify-content: center;
}
.j-beetween() {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.j-space-around() {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.j-end() {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.j-start() {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.ai-center() {
  align-items: center;
  -webkit-align-items: center;
}
.ai-start() {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.ai-end() {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.as-center() {
  align-self: center;
  -webkit-align-self: center;
}
.as-end() {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}
.as-start() {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}
.wrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col() {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@box-shadow) {
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
}

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
}

.transition(@transition_default) {
  transition: @transition_default;
  -webkit-transition: @transition_default;
  -moz-transition: @transition_default;
  -o-transition: @transition_default;
}

@transition_default: .3s linear;
@font_default:"Trebuchet MS";
@blue:#191b60;
@red:#b21919;
a{
  .transition(@transition_default);
  color: @blue;
  text-decoration: underline;
  &:hover, &:focus{
    text-decoration: none;
    color: @red;
  }
}


ul,ol{
  padding: 0;
  margin: 0;

  li{
    list-style: none;
  }
}

button, input, .form-control{
  outline:none;
  &:hover, &:focus{
    outline: none;
  }
}
input, .form-control{
  &:hover, &:focus{
    box-shadow: none;
  }
}

button{
  cursor: pointer;
  &:hover, &:focus{
    outline: none;
  }
}

*{
  outline: none;
}

img, video{
  max-width: 100%;
}

body{
  font-family: @font_default;
  font-size: 16px;
  color: #787878;
  @media (max-width:767px){
    font-size: 14px;
  }
}

.container{
  max-width: 1200px;
}



.top_bar{
  background: #EFEFEF;
  padding: 5px 0;
  @media (max-width:767px){
      text-align: center;
  }
  p{
    margin-bottom: 0;
    color: #4c4c4c;
      @media (max-width:767px){
        margin-bottom: 5px;
      }

  }


  .f_end{
    @media (min-width:768px){
      .flex();
      .j-end();
    }
  }

}


.search_form{
  width: 100%;
  max-width: 225px;
  display: inline-block;
  form{
      border: 1px solid rgb(192, 192, 192);
      .border-radius(25px);
    .flex();
    .form-control{
      border:0;
      .border-radius(25px);
      background: none;
      font-size: 14px;
      height: 25px;
      padding-left: 25px;
      width: calc(100% - 50px);
      &::-webkit-input-placeholder{
        font-size: 14px;
        color: #949494;
      }
      &::-moz-placeholder{ font-size: 14px;
        color: #949494;}
      &::-ms-input-placeholder{ font-size: 14px;
        color: #949494;}
      &:-moz-placeholder{ font-size: 14px;
        color: #949494;}
      &:-ms-input-placeholder{ font-size: 14px;
        color: #949494;}
    }


    .search_form_btn{
      width: 50px;
      height: 25px;
      position: relative;
      background: url(../img/search.png) no-repeat center;
      border:0;
    }

  }
}



.header_row{
  .flex();
  .wrap();
  margin: 15px 0;
  @media (max-width:991px){
    margin: 10px 0;
  }

   >div{
     .flex();
     .ai-center();
   }

  .col_logo{
    width: 34%;
    padding-right: 15px;
    @media (max-width:991px){
      width: 33.33%;
      margin-bottom: 10px;
    }
    @media (max-width:767px){
      width: 50%;
    }
  }

  .col_contacts{
    width: 26%;
    @media (max-width:991px){
      width: 33.33%;
      .j-end();
      margin-bottom: 10px;
    }
    @media (max-width:767px){
      width: 50%;
    }
  }
  .col_account{
    width: 28%;
    .j-end();
    @media (max-width:1200px){
      width: 25%;
    }
    @media (max-width:991px){
      width: 33.33%;
      @media (min-width:768px){
        .j-start();
      }
    }
    @media (max-width:767px){
      width: 50%;
    }
    @media (max-width:375px){
      width: 55%;
    }
  }

  .col_cart{
      width: 12%;
    @media (max-width:1200px){
      width: 15%;
    }
    @media (max-width:991px){
      width: 33.33%;
      @media (min-width:768px){
        .j-end();
      }
    }
    @media (max-width:767px){
      width: 50%;
    }
    @media (max-width:375px){
      width: 45%;
    }
  }

}


.col_contacts{
  line-height: 1;
  .dropdown{
    &.show{
      .phone_dropdown{
        color: @red;
        &:before{
         .transform(rotate(-180deg));
        }
      }
    }
    .phone_dropdown{
      background: none;
      font-size: 14px;
      color: @blue;
      border:0;
      position: relative;
      display: inline-block;
      padding-right: 15px;
      padding-left: 0;
      font-weight: @600;
      @media (max-width:575px){
        font-size: 12px;
      }
      &:hover, &:focus{
        color: @red;
      }
      &:before{
        .b_a();
        background: url(../img/header_contact.png);
        width: 9px;
        height: 5px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        .transition(@transition_default);
      }
    }


    .dropdown-menu {
      top: 30px !important;
      min-width: 270px;
      position: absolute;
      left: 0;
      z-index: 1000;
      float: left;
      padding: 20px;
      margin: 2px 0 0;
      border:0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
      @media (max-width:991px){
        .transform(translate3d(0, 15px, 0px)) !important;
        right: 0 !important;
        left: initial !important;
      }
      li{
        margin-bottom: 10px;
      }
    }
    .dropdown-menu:before {
      content: '';
      position: absolute;
      top: -14px;
      border: 7px solid transparent;
      border-bottom: 8px solid #fff;
      margin-bottom: -1px;
      z-index: 999;
      @media (min-width:992px){
        left: 30px;
      }
      @media (max-width:991px){
        right: 30px;
      }
    }

  }



  .feedback{
    color: @blue;
    text-decoration: underline;
    background: none;
    border:0;
    padding-left: 18px;
    padding-right: 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
    @media (max-width:575px){
      font-size: 12px;
    }
    &:hover, &:focus{
      color: @red;
    }
    &:before{
      .b_a();
      background: url(../img/double_next.png);
      width: 9px;
      height: 9px;
      left: 0;
      top: 1px;
      bottom: 0;
      margin: auto;
    }
  }

}



.cart_link{
  .flex();
  .ai-center();
  text-decoration: none;
  &:hover, &:focus{
  text-decoration: none;

    .icon{
      background: @red;
    }

    .text{
      span{
        color: @red;
        &:first-child{
          text-decoration: none;  color: @red;
        }

      }
    }

  }

  .text{
    line-height: 1.6;
    margin-left: 10px;
    @media (max-width:575px){
      margin-left: 5px;
    }
    span{
      display: block;
      &:first-child{
        color: @blue;
        text-decoration: underline;
        font-size: 14px;
        @media (max-width:575px){
          font-size: 12px;
        }
      }
      &.price{
        font-size: 16px;
        @media (max-width:575px){
          font-size: 14px;
        }
      }
    }
  }

  .icon{
    display: inline-block;
    width: 32px;
    min-width: 32px;
    height: 32px;
    background: @blue;
    .border-radius(50%);
    position: relative;
    .transition(@transition_default);
    &:before{
      .b_a();
      .m_a();
      background: url(../img/shopping-cart.png);
      width: 18px;
      height: 18px;
    }
  }
}


.account_block{
  min-width: 180px;
  @media (max-width:575px){
    min-width: auto;
  }
  .user_name{
    color: @blue;
    font-size: 14px;
    text-decoration: none;
    @media (max-width:575px){
      font-size: 12px;
      width: 100%;
      display: inline-block;
      text-align: right;
    }
  }

  .d_flex{
    .flex();
    width: 100%;
    .j-beetween();
    .points{
      color: @red;font-size: 14px;
      @media (max-width:575px){
        font-size: 12px;
      }
    }
    .go_out{
      color: #949494;
      font-size: 14px;
      @media (max-width:575px){
        font-size: 12px;
      }
    }
  }
}




.partner_menu_container{
  position: relative;
  &:hover{
    .partner_btn{
      &:not(.btn_home){
        +.partner_menu{
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      &.btn_home{
        +.partner_menu{
          @media (min-width:992px){
            display: block;
          }

        }
      }
      +.partner_menu{
        @media (min-width:992px){
          display: block;
        }

      }
    }
  }
  .partner_btn{
    background: @blue;
    position: relative;
    .flex();
    .ai-center();
    .j-center();
    height: 50px;
    color: #fff;
    text-transform: uppercase;

    @media (max-width:575px){
        height: 40px;
    }


    .hamburger{
      position: absolute;
      left: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:before{
      .b_a();
      width: 100%;
      height: 2px;
      background: #fff;
      left: 0;
      top: 2px;
    }

    +.partner_menu{
      display: none;
      //margin-top: -50px;
    }
    &.btn_home{
      @media (min-width:992px){
        display: none;
        +.partner_menu{
          display: block;
          margin-top: 0;
        }
      }
    }
  }


  .partner_menu{
    background: @blue;
    padding: 4px 0;
    position: relative;
    z-index: 2;

    @media (max-width:991px){
      display: none;position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    ul{
      li{
        border-top:2px solid #fff;
        &:last-child{
          border-bottom:2px solid #fff;
        }


        a{
          display: inline-block;
          width: 100%;
          text-align: center;
          text-decoration: none;
          padding: 50px 10px;
          @media (max-width:991px){
            padding: 20px 10px;
          }
          &:hover, &:focus{
            text-decoration: none;
          }
          .icon{
            margin-bottom: 13px;
            img{}
            @media (max-width:991px){
              margin-bottom: 8px;
            }
          }
          .text{
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
  }


}


.hamburger{
  min-width: 20px;
  width: 20px;
  height: 14px;
  position: relative;
  span{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:nth-child(3){
      bottom: 0;
    }
  }
}



.mm_btn{
  @media (min-width:992px){
    display: none;
  }
  height: 50px;
  .flex();
  .ai-center();
  .j-end();
  @media (max-width:575px){
    height: 40px;
  }
  > span{
    text-transform: uppercase;
    margin-right: 10px;
    color: @blue;
    font-weight: 600;
  }
  .hamburger{
    span{
      //height: 3px;
      background: @blue;
    }
  }
}

.main_menu{

  @media (min-width:992px){
    border:4px solid @blue;
    min-height: 50px;
    .flex();
    .ai-center();
  }

  @media (max-width:991px){
    opacity: 0;
    position: fixed;
    width: 80%;
    height: 100%;
    z-index: 99991;
    padding: 15px 15px 20px;
    right: 0;
    top: 0;
    margin-top: 0;
    background: #fff;
    overflow: auto;
    .transition(@transition_default);
    .transform(translateX(100%));

    &.open{
      opacity: 1;
      .transform(translateX(0%));
    }
  }

  .mm_close{
    width: 30px;
    height: 30px;
    position: relative;
    background: @blue;
    display: inline-block;
    &:before, &:after{
      .b_a();
      width: 18px;
      height: 1px;
      background: #fff;
      .m_a();
    }
    &:before{
      .transform(rotate(45deg));
    }
    &:after{
      .transform(rotate(-45deg));
    }
    @media (min-width:992px){
      display: none;
    }
  }

  ul.nav{
    width: 100%;
    @media (max-width:991px){
      margin-top: 15px;
    }
    @media (min-width:992px){
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      white-space: nowrap;
    }
    li{
      @media (max-width:991px){
        width: 100%;
        margin-bottom: 10px;
      }
      @media (min-width:992px){
        -ms-flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
      }

      &.active{
        a{
          @media (min-width:992px){
            background: @blue;
            color: #fff;
          }
        }
      }

      a{
        text-transform: uppercase;
        color: @blue;
        font-weight: 600;
        font-size: 14px;
        font-family: @font_default;
        text-decoration: none;
        padding: 13px 19px;
        width: 100%;
        @media (max-width:1200px){
          padding: 13px 10px;
        }
        @media (max-width:1100px){
          padding: 13px 5px;
        }
        @media (max-width:991px){
          padding: 0;
        }
        &:hover, &:focus{
          color: @red;
          @media (min-width:992px){
            background: @blue;
            color: #fff;
          }
        }
      }
    }
  }
}


.menu_row{
  .m_col_left{
    @media (max-width:991px){
      @media (min-width:768px){
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
      }
    }
  }
  .m_col_right{

    @media (max-width:991px){
      padding-left: 0;
      @media (min-width:768px){
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
  }
}



@media (max-width:991px){
  .page-noscroll:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    background: rgba(0,0,0,0.5);
  }
}

.m_col_right{
  .main_slider{
    @media (max-width:991px){
      display: none;
    }
  }
}

.main_slider{
  margin-top: 7px;

img{
  margin: auto;
}

    .slick-dots{
        background-image: -moz-linear-gradient( -174deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
        background-image: -webkit-linear-gradient( -174deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
        background-image: -ms-linear-gradient( -174deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
        width: 345px;
        height: 30px;
      right: 0;
      bottom: 0;
      .flex();
      .j-end();
      .ai-center();
      padding-right: 6px;


      li{
        width: 14px;
        height: 14px;
        margin: 0 6px;
        &.slick-active{
          button{
            &:before{
              background: @red;
            }
          }
        }
        button{  width: 14px;
          height: 14px;
          border:2px solid #fff;
          position: relative;
          &:before{
            .b_a();
            width: 12px;
            height: 12px;
            background: #222222;
            .m_a();
            opacity: 1;
          }
        }
      }
    }
}


.slider_mobile{
  @media (min-width:992px){
    display: none;
  }
}




.home_slider{

  @media (min-width:768px){
    .slick-list {
      max-width: 1170px;
      margin: auto;
      overflow: visible !important;
      z-index: 99;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .slick-slide {
      display: block;
      //float: left;
      //position: relative;
      overflow: visible !important;
    }
    .slick-slide{
      opacity: 0;
      &.slick-active {
        opacity: 1;
      }
    }
  }




  .slick-arrow{
    width: 55px;
    height: 22px;
    border:1px solid @blue;
    top: -40px;
    @media (max-width:767px){
      top: -45px;
    }
    &.slick-disabled, &:hover, &:focus{
      &:before{
        background: url(../img/arrow1.png);
      }
    }
    &:before{
      .b_a();
      .m_a();
      background: url(../img/arrow.png);
      width: 22px;
      height: 10px;
      opacity: 1;
    }
  }
  .slick-prev{
    left: initial;
    right: 63px;
    &:before{
      .transform(rotate(-180deg));
    }
  }
  .slick-next{
    right: 0;
  }

}


.title{
  color: #4c4c4c;
  font-size: 20px;
  font-weight: 700;    margin-top: 60px;    margin-bottom: 30px;
  @media (max-width:1200px){
    margin-top: 40px;     }
  @media (max-width:767px){
    margin-top: 30px;
  }
}


.home_catalog_slider{
  padding-bottom: 65px;
  @media (max-width:767px){
    padding-bottom: 30px;
  }
  .title{
    padding-right: 130px;
  }
}


body{
  @media (min-width:768px){
    overflow-x: hidden;
  }
}

.product_list{

  .slick-slide{
    @media (max-width:767px){
      padding: 10px;
    }
    @media (min-width:768px){
      border-right: 1px solid #DEDEDE;
    }

  }

  &:not(.slick-slider){
    .flex();
    .wrap();
    > div{
      width: 33.33%;
      margin-bottom: 20px;
      @media (max-width:767px){
          padding: 10px;
      }
      +div{
        .product_item{
          border-left: 1px solid #DEDEDE;
        }

      }
    }
  }
  .product_item{
    position: relative;
    min-height: 405px;
    width: 100%;
    @media (max-width:767px){
      min-height: auto;
      box-shadow: 1px 0 8px 2px rgba(61, 105, 127, .3);
    }
    &:hover{
      .product_content{
        @media (min-width:768px){
          box-shadow: 1px 0 8px 2px rgba(61, 105, 127, .3);
          z-index: 3;
          .hide_content{
            display: block;
          }
        }

      }
    }

    .product_content{
      width: 100%;
      padding: 15px 27px 20px;
      background: #fff;
      @media (min-width:768px){
        position: absolute;
        top: 0;
        left: 0;
      }
      @media (max-width:767px){

      }
      .label{
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        min-width: 47px;
        height: 28px;
        text-align: center;
        text-transform: uppercase;
        font-family: @font_default;
        .flex();
        .ai-center();
        .j-center();
        padding: 5px 7px;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        z-index: 3;
        &.new{
          background: #1C21A9;
        }
      }

      a{
        text-decoration: none;
        width: 100%;
        display: inline-block;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
      .product_img{
        text-align: center;
        margin-bottom: 15px;
        height: 225px;
        width: 100%;
        position: relative;
        img{
          position: absolute;
          .m_a();
          max-height: 98%;
          max-width: 98%;
        }
        img{
          margin: auto;
        }
      }
      .product_title{
        font-size: 16px;
        font-family: @font_default;
        color: @blue;
        font-weight: 600;
        margin-bottom: 5px;

      }

      .category_name{
        color: #acacac;
        font-size: 13px;
        margin-bottom: 5px;
      }

      .price{
        font-size: 17px;
        color: #2e2e2e;
        margin-bottom: 5px;
      }


      .availability{
        .flex();
        .ai-center();
        font-size: 14px;
        .icon{
          margin-right: 10px;
        }
        &.ok{
          color: #31b45f;
        }
      }

      .hide_content{
        padding-top: 20px;
        @media (min-width:768px){
          display: none;
        }
        .desc{
          color: #acacac;
          font-size: 13px;
          margin-bottom: 20px;
        }
      }

      .add_to_cart{
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background: @blue;
        &:hover, &:focus{
          text-decoration: none;
          background: @red;
        }
      }

    }
  }
}



.preimuschestva_container{
  background: #F8F8F8;
  padding: 8px;
  margin-bottom: 60px;
  @media (max-width:767px){
    margin-bottom: 30px;
  }
  .preimuschestva{
    border:2px solid @blue;
    padding: 0 40px 17px;
    @media (max-width:1200px){
      padding: 0 30px 17px;
    }
    @media (max-width:767px){
      padding: 0 15px 17px;
    }

    .title.flex{
      color: #000;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      @media (max-width:767px){
        font-size: 18px;
      }
      img{
        margin-left: 10px;
        max-height: 20px;
      }
    }
  }

  .pr_list{
    padding-top: 15px;
    @media (max-width:767px){
      padding-top: 5px;
    }
    > div{
      margin-bottom: 60px;
      @media (max-width:1200px){
          margin-bottom: 50px;
      }
      @media (max-width:767px){
        margin-bottom: 30px;
      }
    }
    .pr_item{
      text-align: center;
      picture{
        display: inline-block;
        height: 80px;
        width: 100%;
        position: relative;
        margin-bottom: 3px;
          img{
            position: absolute;
            .m_a();
            max-height: 100%;
            max-width: 100%;
          }
      }
      .text{
        font-size: 14px;
        text-transform: uppercase;
        color: @blue;
      }
    }
  }


  .block_bottom{
    .flex();
    .j-center();
    .ai-center();
    @media (max-width:767px){
      .wrap();
    }
    .text_bottom{
      font-size: 18px;
      text-transform: uppercase;
      color: #b21919;
      font-weight: bold;
      margin-right: 15px;
      @media (max-width:767px){
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
      }
    }

    .btn_red{
    .flex();
      .ai-center();
      .j-center();
      background: #b21919;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      height: 30px;
      width: 100%;
      max-width: 166px;
      &:hover, &:focus{
       background: @blue;
      }

    }
  }

}

.btn_red{
  .flex();
  .ai-center();
  .j-center();
  background: #b21919;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  height: 30px;
  width: 100%;
  max-width: 166px;
  &:hover, &:focus{
    background: @blue;
  }

}

footer{
  border-top: 2px solid #BCBCBC;

  padding: 60px 0 45px;
  @media (max-width:767px){
    padding: 30px 0;
  }


  .f_nav{
    @media (max-width:767px){
      margin-bottom: 20px;
    }
    @media (min-width:768px){
      column-count: 3;
      -webkit-column-count: 3;
    }
    li{
      a{
        font-size: 16px;
        font-family: "Trebuchet MS";
      }
    }
  }


  .social{
    .flex();

    .ai-center();
    margin-top: 10px;
    @media (min-width:768px){
      .j-center();
    }
    p{
      margin-bottom: 0;
      margin-right: 10px;
    }

    .solial_menu{
      .flex();
      li{
        margin: 0 5px;.flex();
      }
      a{
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        background: @blue;
        .border-radius(50%);
        img{
          position: absolute;
          .m_a();
        }
      }
    }
  }

}



.breadcrumb{
  background: none;
  padding-left: 0;
  margin-bottom: 3px;
  padding-top: 0;
  @media (max-width:575px){
    padding-bottom: 0;
  }
  
  li{
    padding-right: 10px;
    padding-left: 23px;
    position: relative;
    &:first-child{
      padding-left: 0;
    }
    +li{
      &:before{
        .b_a();
        background: url(../img/b_arrow.png);
        width: 16px;
        height: 8px;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    &:last-child{
      a{
        text-decoration: none;
      }
    }
    a{
      color: #444444;
      font-size: 14px;
      text-decoration: underline;
      display: inline-block;
      @media (max-width:575px){
        font-size: 14px;
      }
      &:hover, &:focus{
        text-decoration: none;
        color: @red;
      }
    }
  }
}


.product_content{

}


#product_carousel{
  max-width: 500px;
  .carousel-item{
    text-align: left;
  }

  .title{
    font-size: 17px;
    color: #a5a5a5;
    font-weight: @regular;
    margin-bottom: 15px;
  }
  .carousel-indicators{
    position: relative;
    margin: 0;
    bottom: 0;
    .wrap();
    .j-start();
    li{
      width: 140px;
      min-width: 140px;
      height: 110px;
      position: relative;
      margin-right: 23px;
      @media (max-width:1200px){
        width: 120px;
        min-width: 120px;
        height: 90px;  margin-right: 20px;
      }
      @media (max-width:767px){
        width: 100px;
        min-width: 100px;
        height: 70px;  margin-right: 10px;
      }
      &.active{
        border:4px solid @blue;
      }
      img{
        position: absolute;
        .m_a();
        max-width: 99%;
        max-height: 99%;
      }
    }
  }

}






h1{
  font-size: 36px;
  color: @blue;
  margin-top: 22px;
  margin-bottom: 20px;
  @media (max-width:1200px){
    font-size: 32px;
  }
  @media (max-width:991px){
    font-size: 30px;
  }
  @media (max-width:767px){
    font-size: 28px;
  }
  @media (max-width:575px){
    font-size: 26px;
  }
}

.product_content{

  .label{
    text-transform: uppercase;
    font-family: @font_default;
    padding: 5px 9px;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    margin-bottom: 60px;
    @media (max-width:1200px){
      margin-bottom: 20px;
    }
    &.new{
      background: #1C21A9;
    }
  }

  .price_points{
    .flex();
    .j-beetween(); font-size: 26px;
    @media (max-width:767px){
        font-size: 24px;
      margin-bottom: 10px;
    }
    @media (max-width:575px){
      font-size: 20px;
    }
    .price{
      color: #272727;
    }
    .points{
      color: #b21919;
    }
  }


  .product_col_right{
    padding-top: 55px;
    @media (min-width:1200px){
      padding-left: 0;
      padding-top: 45px;
    }
    @media (max-width:767px){
      padding-top: 30px;
    }
  }


  .articul{
      font-size: 16px;
    color: #999999;
    margin-bottom: 50px;
    @media (max-width:1200px){
      margin-bottom: 40px;
    }
    @media (max-width:767px){
      margin-bottom: 30px;
    }
  }

  .desc{
    color: #3b3b3b;
    ul{
      margin-bottom: 30px;
      li{
        display: inline-block;
        width: 100%;
        padding-left: 28px;
        position: relative;
        margin-bottom: 12px;
        &:before{
          .b_a();
          width: 5px;
          height: 5px;
          background:#3b3b3b;
          .border-radius(50%);
          left: 0;
          top: 10px;
        }
      }
    }
  }


  .specifications_table{
    .tr{
      .flex();
      font-size: 14px;
      color: #3b3b3b;
      position: relative;margin-bottom: 8px;
      &:before{
        .b_a();
        width: 100%;
        height: 1px;
        border-bottom: 2px dotted #aaaaaa;
        bottom: 6px;
        left: 0;
      }
      .td{
        width: 50%;
        span{
          background: #fff;
          position: relative;
          display: inline-block;
        }

        &:first-child{
          span{
            padding-right: 4px;
          }
        }
        &:last-child{
          span{
            width: 100%;
            height: 100%;
            padding-left: 4px;
          }
        }
      }
    }
  }


  .btn_blue{
    
  }

}



strong{
  font-weight: @bold;
}



.content{
  padding-top: 20px;
  padding-bottom: 100px;
  @media (max-width:1200px){
    padding-bottom: 80px;
  }
  @media (max-width:991px){
    padding-bottom: 60px;
  }
  @media (max-width:767px){
    padding-bottom: 40px;
  }
}

.btn_blue{
  .flex();
  .ai-center();
  .j-center();
  background: @blue;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  height: 45px;
  width: 100%;
  max-width: 240px;
  &:hover, &:focus{
    background: @red;
    color: #fff;
  }

}


.user_menu_block{
  background: @blue;
  padding: 5px 0;
  @media (max-width:767px){
      margin-bottom: 30px;
  }
  .user_menu{
    li{
      .flex();
      border-top: 2px solid #fff;
      &:last-child{
        border-bottom: 2px solid #fff;
      }
      &.active{
        a{
          text-decoration: none;
          background: #DCDCDC;
          color: @blue;
        }
      }
      a{
        .flex();
        .j-center();
        .ai-center();
        background: @blue;
        color: #fff;
        text-decoration: none;
        width: 100%;
        min-height: 70px;
        @media (max-width:767px){
            min-height: 50px;
        }
        @media (max-width:575px){
          min-height: 30px;
        }
        &:hover, &:focus{
          text-decoration: none;
          background: #DCDCDC;
          color: @blue;
        }
      }
    }
  }
}



.current_amount{
  background: #EFEFEF;
  padding:13px 25px;
  .flex();
  .ai-center();
  max-width: 465px;
  margin-bottom: 30px;
  .current_amount_text{
    width: 65%;
    strong{
      color: #363636;
      font-size: 14px;
      display: block;
    }
    span{
      color: #7d7d7d;
      display: block;
      font-size: 14px;
    }
  }
  .points{
    width: 35%;
    text-align: right;
    font-size: 18px;
    color: #363636;
    font-weight: bold;
  }
}


h3{
  color: #3e3e3e;
  font-size: 22px;
  margin-top: 44px;
  margin-bottom: 25px;
}



.sertificates_list{

  > div{
    text-align: center;
  }

  .item{
    display: inline-block;
    picture{
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-bottom: 22px;
    }

    .item_footer{
      .flex();
      .j-beetween();

      .points{
        *{
          white-space: nowrap;
        }
        span{
          color: #808080;
          font-size: 15px;
          display: block;
        }
        strong{
          display: block;
          font-size: 15px;
          color: #1e1e1e;
        }
      }
    }

  }

  .add_to_cart{
    display: inline-block;
    width: 128px;
    padding: 8px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: @blue;
    text-decoration: none;
    max
    &:hover, &:focus{
      text-decoration: none;
      background: #CFCFCF;
    }
  }
}


.sertificates_slider{
  padding: 0 30px;
  .slick-arrow{
    width: 18px;
    height: 32px;
    &.slick-disabled{
      opacity: 0.5;
    }
    &:before{
      .b_a();
      .m_a();
      background: url(../img/right-arrow.png);
      width: 18px;
      height: 32px;
      opacity: 1;
    }
  }


  .slick-prev{
    left: 0;
    .transform(rotate(-180deg));
  }


  .slick-next{
    right: 0;
  }

}



.news_list{


  @media (min-width:1200px){
    .col_left{
      -ms-flex: 0 0 39%;
      flex: 0 0 39%;
      max-width: 39%;
    }
    .col_right{
      -ms-flex: 0 0 61%;
      flex: 0 0 61%;
      max-width: 61%;
    }
  }



  .news_item{
    margin-bottom: 50px;
    .date{
      color: #797979;
      font-size: 14px;
      font-style:italic;margin-bottom: 17px;
    }
    .news_title{
      font-size: 16px;
      color: #000;
      text-transform: uppercase;    margin-bottom: 5px;
    }
    .desc{
      font-size: 14px;
      color: #000;margin-bottom: 15px;
    }
    .read_more{
      display: inline-block;
      color: @blue;
      font-size: 14px;
    }
  }
}


.pagination{
  .flex();
  ul{
    .flex();
    li{
      a{
        &.prev_page{
          width: 55px;
          height: 22px;
          border: 1px solid #191b60;
          position: relative;
          display: inline-block;
          margin-right: 10px;
          &.disabled{
            &:before{
              background: url(../img/arrow1.png);
            }
          }
          &:before{
            .b_a();
            .m_a();
            background: url(../img/arrow.png);
            width: 22px;
            height: 10px;
            .transform(rotate(-180deg));
          }
        }
        &.next_page{
          position: relative;
          width: 55px;
          height: 22px;
          border: 1px solid #191b60;display: inline-block;
          &.disabled{
            &:before{
              background: url(../img/arrow1.png);
            }
          }
          &:before{
           .b_a();
            .m_a();
            background: url(../img/arrow.png);
            width: 22px;
            height: 10px;
          }
        }
      }
    }

    &.pages{
      margin-left: 20px;
      .empty{
        color: @blue;
      }
      a{
        font-size: 15px;
        text-decoration: none;
        display: inline-block;
        margin: 0 3px;
        &:hover, &.active{
          text-decoration: none;
          color: @red;
        }
      }

    }

  }
}


.page_desc{
  color: #000000;
}